App/Lib/Schemas/menuItem.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="title" type="xs:string"/>
  <xs:attribute name="slug" type="xs:string"/>
  <xs:attribute name="index" type="xs:integer"/>
  <xs:attribute name="parent" type="xs:string"/>
  <xs:attribute name="page" type="xs:string"/>
</xs:schema>